<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Xlsx importer</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/solid.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Importer service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<main role="main" class="container">
    <div th:class="row">
        <div class="col-md-10 offset-md-1">
            <table id="files" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Размер</th>
                    <th>Дата загрузки</th>
                    <th>Статус</th>
                    <th class="action-td"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${files}" th:class="${file.isDeleted()} ? deleted : ''">
                    <td th:text="${file.getId()}">id</td>
                    <td th:text="${file.getName()}">name</td>
                    <td th:text="${file.getSize()}">size</td>
                    <td th:text="${file.getDate()}">date</td>
                    <td th:text="${file.getStatus()}">status</td>
                    <td>
                        <button th:if="${!file.isDeleted()}" class="btn btn-download" title="Скачать">
                            <a th:href="'/file-storage/download/' + ${file.getId()}"><i
                                    class="fa-solid fa-download"></i></a>
                        </button>
                        <!--<button th:if="${!file.isDeleted()}" class="btn btn-delete" title="Удалить" th:id="${file.getId()}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${files.totalPages > 1}">
            <li class="page-item" th:classappend="${!paging.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/file-storage?page=' + ${paging.pageNumber - 1}}"
                   tabindex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                    <a class="page-link" th:href="@{'/file-storage?page=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/file-storage?page=' + ${paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').multiselect({
            nonSelectedText: 'Не выбрано',
            nSelectedText: 'выбран(о)',
            allSelectedText: 'Все выбрано',
            resetText: 'Сбросить'
        });
    });

    $("#file").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>