<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Xlsx importer</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Importer service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/xlsx/import">Загрузка
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/file-storage">Хранилище</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">События</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Настройки
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="/settings/fields">Названия столбцов</a>
                            <a class="dropdown-item" href="/settings/projects">Проекты для загрузки</a>
                            <a class="dropdown-item" href="/settings/webhook-success-statuses">Статусы для отправки
                                заявок</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>

<main role="main" class="container">
    <div th:class="row">
        <div class="col-md-8 offset-md-2">
            <form id="formSendFile" enctype="multipart/form-data" class="mt-4">
                <table id="uploadTable">
                    <tr>
                        <th>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file" name="file">
                                <label class="custom-file-label" for="file"></label>
                            </div>
                        </th>
                        <th style="text-align: right">
                            <button class="btn-2" type="submit" id="btnSendFile">
                                Сохранить файл
                            </button>
                        </th>
                    </tr>
                </table>

            </form>
            <div th:class="row">
                <div th:class="col-md-12">
                    <label id="systemFile">
                        Файл в системе:
                        <span id="fileName" th:text="${fileName}"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div th:class="'row mt-4 ' + (${fileExist} ? '' : 'hide-block')">
        <div class="col-md-8 offset-md-2">
            <table id="mainTable">
                <tr>
                    <th><label for="textProjectId">Идентификатор проекта*</label></th>
                    <th>
                        <input id="textProjectId" class="onlyNumbers" type="text" maxlength="15"/>
                    </th>
                </tr>
                <tr th:class="space-block">
                    <th th:class="text-center"><label for="textProjectId">Поля контактов в скорозвоне</label></th>
                    <th th:class="text-center"><label for="textProjectId">Поля excel</label></th>
                </tr>
                <tr th:each="field : ${fields}" th:class="'select-hover ' +
                            ${field.getFieldType().name().equals('MULTIPLE') ? 'space-height' : ''}">
                    <th th:if="${field.getFieldType().name().equals('SPACE')}" class="text-center space-block">
                        Поля организаций в скорозвоне
                    </th>
                    <th th:text="${field.description} + (${field.required} ? '*' : '')"><br/></th>
                    <th>
                        <select th:if="${field.getFieldType().name().equals('SELECT') }"
                                multiple data-style="bg-white rounded-pill px-4 py-3 shadow-sm "
                                th:class="'selectpicker w-100 ' + ${field.getFieldType().name()}"
                                th:name="*{field.name()}">
                            <option th:each="item, i : ${headers}" th:value="${i.index}" th:text="${item}">
                            </option>
                        </select>
                        <label for="enableWhatsAppLink" th:if="${field.name().equals('ORG_HOST')}">
                            Ссылка на WhatsApp
                            <input type="checkbox" th:name="*{field.name()}"
                                   title="Ссылка на WhatsApp"
                                   id="enableWhatsAppLink"/>
                        </label>
                        <input th:if="${field.getFieldType().name().equals('INPUT') ||
                                        field.getFieldType().name().equals('MULTIPLE')}"
                               type="text" th:name="*{field.name()}" th:class="${field.getFieldType().name()}"
                               placeholder="Введите значение"/>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th style="text-align: right">
                        <button id="parseXlsx" class="btn-2">Отправить</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').multiselect({
            nonSelectedText: 'Не выбрано',
            nSelectedText: 'выбран(о)',
            allSelectedText: 'Все выбрано',
            resetText: 'Сбросить'
        });
    });

    $("#file").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
</body>
</html>