<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Xlsx importer</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/fontawesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.1.1/css/solid.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Importer service</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/xlsx/import">Загрузка
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/file-storage">Хранилище
                    </a>
                </li>
                <li class="nav-item active">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Настройки
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="/settings/fields">Названия столбцов</a>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="/settings/projects">Проекты для загрузки</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Выйти
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<body>

<main role="main" class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <table id="mainTable">
                <tr>
                    <th><label for="textProjectId">Идентификатор проекта</label></th>
                    <th>
                        <input id="textProjectId" class="onlyNumbers" type="text" maxlength="15"/>
                    </th>
                </tr>
                <tr>
                    <th><label for="date">Дата загрузки</label></th>
                    <th>
                        <div class="input-group date" id="datepicker">
                            <input id="date" type="text" class="form-control"/>
                            <span class="input-group-append">
                                <span class="input-group-text bg-white">
                                    <i class="fa-solid fa-calendar"></i>
                                </span>
                            </span>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th style="text-align: right">
                        <button id="btn-add-project" class="btn-2">Добавить</button>
                    </th>
                </tr>
            </table>
        </div>
    </div>

    <div th:class="row">
        <div class="col-md-10 offset-md-1">
            <table id="files" class="table table-bordered table-responsive-sm">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата</th>
                    <th>№ проекта</th>
                    <th class="action-td"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projectNumbers}">
                    <td th:text="${project.getId()}">id</td>
                    <td th:text="${project.getDate()}">date</td>
                    <td th:text="${project.getNumber()}">projectNumber</td>
                    <td>
                        <button class="btn btn-delete" title="Удалить" th:id="${project.getId()}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <nav aria-label="Page navigation" class="paging">
        <ul class="pagination" th:if="${projectNumbers.totalPages > 1}">
            <li class="page-item" th:classappend="${!paging.isPrevEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/file-storage?page=' + ${paging.pageNumber - 1}}"
                   tabindex="-1">Previous</a>
            </li>
            <th:block th:each="item : ${paging.getItems()}">
                <li class="page-item" th:classappend="${item.index == paging.pageNumber? 'active' : ''}"
                    th:if="${item.pageItemType.name() == 'PAGE'}">
                    <a class="page-link" th:href="@{'/file-storage?page=' + ${item.index}}"
                       th:text="${item.index}"></a>
                </li>
                <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                    <a class="page-link" href="#">...</a>
                </li>
            </th:block>
            <li class="page-item" th:classappend="${!paging.isNextEnabled()? 'disabled' : ''}">
                <a class="page-link" th:href="@{'/file-storage?page=' + ${paging.pageNumber + 1}}">Next</a>
            </li>
        </ul>
    </nav>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js}"></script>
<script type="text/javascript" th:src="@{/js/project_number_setting.js}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: 'dd.mm.yyyy',
            language: 'ru',
            startDate: '-0d'
        });
    });
</script>
</body>
</html>